
        <div id="cart-page" class="page-hero-section division">
            <div class="container">	
                <div class="row">	
                    <div class="col-lg-10 offset-lg-1">
                        <div class="hero-txt text-center white-color">
    
                            <!-- Title -->
                            <h2 class="h2-xl">RESTAURANT</h2>
    
                        </div>
                    </div>	
                </div>	  <!-- End row -->
            </div>	   <!-- End container --> 
        </div>	<!-- END PAGE HERO -->	
    
<section id="cart-1" class="wide-100 cart-page division">
    <div class="container">

            <!-- CART CHECKOUT -->		
            <div class="row">

                <!-- DISCOUNT COUPON -->
                <div class="col-lg-8">
                    <div class="discount-coupon row pt-15">
    
                        <!-- Form -->
                        
                        <div class="col-md-12 col-lg-12 btnAction">				
                            <span class="input-group-btn">
                               <button type="button" class="btn btn-primary" (click)="createModal()">
                                    <i class="fa fa-plus" ></i> Restaurant
                                </button>	
                            </span>	
                            <span class="input-group-btn margeButton">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scrollingLongContent">
                                <i class="fa fa-plus" ></i> Admin
                              </button>
                            </span>	
                        </div>
    
    
                        <!-- Button -->
                        <!-- <div class="col-md-4 col-lg-5 text-right">
                            <a onClick="window.location.reload()" class="btn btn-md btn-salmon tra-salmon-hover">Update Cart</a>
                        </div> -->
    
                    </div>
                </div>
    
    
            </div>	  <!-- END CART CHECKOUT -->
    
    

        <!-- CART TABLE -->	
        <div class="row">
            <div class="col-md-12">
                <div class="cart-table mb-70">
                    <table id="myTable">
                        <thead>
                            <tr>
                                  <th scope="col">Nom</th>
                                  <th scope="col">Adresse</th>
                                  <!-- <th scope="col">Tags</th> -->
                                  <th scope="col">Status</th>
                                  <th scope="col"></th>
                            </tr>
                         </thead>

                        <tbody>

                            <!-- CART ITEM #1 -->
                            <tr *ngFor="let restau of listRestau" >
                                  <td data-label="Product" class="product-name">

                                      <!-- Preview -->
                                    <div class="cart-product-img"><img src="images/menu/burger-07.png" alt="cart-preview"></div>

                                    <!-- Description -->
                                    <div class="cart-product-desc">
                                          <b>{{restau.nom}}</b>
                                          <p class="p-sm">{{restau.tags}}</p>
                                      </div>

                                  </td>

                                  <td data-label="Price" class="product-price"><span>{{restau.adresse}}</span></td>
                                  <td data-label="Quantity" class="product-qty">
                                      {{restau.status}}
                                  </td><td data-label="Delete" class="td-trash"><i class="far fa-trash-alt"></i></td>
                                  <td data-label="Delete" class="td-trash" (click)="updateModal(restau)"><i  class="fa fa-pencil"></i></td>
                           </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>	<!-- END CART TABLE -->


    
    </div>	   <!-- End container --> 
</section>	<!-- END CART PAGE -->	


<div class="col-md-4 mb60">

    <!-- Modal -->
    <div class="modal fade" id="scrollableModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="scrollableModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="scrollableModalLabel">Modal title</h5>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          </div>
          <div class="modal-body">
            <!-- <app-formulaire-restau [restauItem]="restauItem" (restauEvent) ="restauValue = $event"></app-formulaire-restau> -->
                        
            <div class="form-holder">
                <!-- Form -->
                <form  [formGroup]="restauForm" name="restauForm" class="row booking-form">
                            
                    <!-- Form Input -->
                    <div class="col-lg-12">
                        <input type="text" name="nom"  formControlName="nom" class="form-control name" placeholder="Nom*" required> 
                    </div>

                    <div class="col-lg-12">
                        <input type="text" name="tags"  formControlName="tags"  class="form-control name" placeholder="tags séparés par une virgule*" required> 
                    </div>
                            
                    <div class="col-lg-12">
                        <input type="text" name="adresse" formControlName="adresse"  class="form-control name" placeholder="adresse*" required> 
                    </div>
                    <div class="col-lg-12">
                        <input type="text" name="benefice" formControlName="benefice"  class="form-control name" placeholder="benefice*" required> 
                    </div>

                    <!-- Form Button -->
                    <div class="col-md-12 mt-10">  
                        <p  *ngIf="action==='CREER'"  class="btn btn-md btn-red" (click)="create()">Valider</p>
                        <p  *ngIf="action==='MODIFIER'"  class="btn btn-md btn-red  "(click)="update()">Modifier</p> 
                    </div>

                </form>	

            </div>	
        </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button>
          </div> -->
        </div>
      </div>
    </div>      

</div>

<div class="col-md-4 mb60">
    <!-- Modal -->
    <div class="modal fade" id="scrollingLongContent" data-bs-keyboard="false" tabindex="-1" aria-labelledby="scrollingLongContentLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="scrollingLongContentLabel">Inscription admin restaurant</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-formulaire-inscription [action]="inscriptionForm"></app-formulaire-inscription>
          </div>
        </div>
      </div>
    </div>                          
    
</div>


<!-- <div class="col-md-4 mb60">


         

</div> -->

<app-alert-modal></app-alert-modal>