<!-- BOOKING-2
============================================= -->
<div id="booking-2" class="booking-section division">
    <div class="container">
        <div class="row">

            <!-- BOOKING FORM -->
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="form-holder">

                    <!-- Form -->
                    <form name="bookinkform" class="row booking-form">
                                
                        <!-- Form Input -->
                        <div class="col-lg-6">
                            <input type="text" name="nom" class="form-control name" placeholder="Nom*" required> 
                        </div>

                        <!-- Form Input -->
                        <div class="col-lg-6">
                            <input type="text" name="Composition" class="form-control name" placeholder="Composition*" required> 
                        </div>
                            
                        <!-- Form Input -->        
                        <div class="col-lg-6">
                            <input type="number" name="prixVente" class="form-control name" placeholder="Prix de vente*" required> 
                        </div>

                        <!-- Form Input -->        
                        <div class="col-lg-6">
                            <input type="number" name="prixProduction" class="form-control name" placeholder="Prix de production*" required> 
                        </div>


                        <!-- Form Input -->   
                        <div class="col-lg-6">
                            <input type="tel" name="phone" class="form-control phone" placeholder="Catégorie plat*" required> 
                        </div>

                        <!-- Form Input -->
                        <div class="col-lg-6">
                            <input type="text" name="Composition" class="form-control name" placeholder="Image*" required> 
                        </div>

                                                    
                        <!-- Form Button -->
                        <div class="col-md-12 mt-10">  
                            <button type="submit" class="btn btn-md btn-red tra-red-hover submit">Request Booking</button> 
                        </div>

                    </form>	<!-- End Form -->	

                </div>	
            </div>	<!-- END BOOKING FORM -->	

        </div>	<!-- End row -->
    </div>	   <!-- End container -->	
</div>	<!-- END BOOKING-2 -->
