
<!-- MENU-6
============================================= -->
<section id="menu-6" class="wide-70 menu-section division">
    <div class="container">
        <div *ngFor="let restau of listRestau" class="row">


            <!-- MENU ITEM #1 -->
            <div  class="col-sm-6 col-lg-3">
                <div class="menu-6-item bg-white">

                    <!-- IMAGE -->
                    <div class="menu-6-img rel">
                        <div class="hover-overlay">

                            <!-- Image -->
                            <img class="img-fluid" src="../../assets/testo/files/images/menu/burger-11.jpg" alt="menu-image" />

                            <!-- Zoom Icon -->
                            <div class="menu-img-zoom ico-25">
                                <a href="../../assets/testo/files/images/menu/burger-11.jpg" class="image-link">
                                    <span class="flaticon-zoom"></span>
                                </a>
                            </div> 

                        </div>
                    </div>

                    <!-- TEXT -->
                    <div class="menu-6-txt rel">

                        <!-- Title -->
                        <h5 class="h5-sm">{{restau.nom}}</h5>

                        <!-- Description -->	
                        <p class="grey-color">{{restau.tags}}</p>

                        <!-- Add To Cart -->
                        <!-- <div class="add-to-cart bg-yellow ico-10">
                            <a href="product-single.html"><span class="flaticon-shopping-bag"></span> Add to Cart</a>
                        </div> -->

                    </div>

                </div>
            </div>	<!-- END MENU ITEM #1 -->
        </div>	  <!-- End row -->	
    </div>	   <!-- End container -->
</section>	<!-- END MENU-6 -->

