.menu-6-txt {
    padding: 15px 20px;
}

.menu-5-item, .menu-6-item {
    border: 0; 
}

.menu-5-img, .menu-6-img, .menu-5-img img, .menu-6-img img {
    border-radius: 6px 6px 6px 6px;
}

.de-card-2 .div-content {
    height: 200px;
}
