

    <div id="cart-page" class="page-hero-section division">
        <div class="container">	
            <div class="row">	
                <div class="col-lg-10 offset-lg-1">
                    <div class="hero-txt text-center white-color">

                        <!-- Title -->
                        <h2 class="h2-xl">Restaurant</h2>

                    </div>
                </div>	
            </div>	  <!-- End row -->
        </div>	   <!-- End container --> 
    </div>	

    <section id="section-menu" aria-label="section">
            <div class="container">
                <div class="row g-4 masonry">   
                    <div *ngFor="let restau of listRestau" class="col-lg-3 col-md-4 item">
                        <div class="de-card-2 text-center" (click)="chooseRestau(restau)">
                            <img src="02_images-restaurant/menu/png/1.png" alt="">
                            <div class="div-content">
                                <div class="atr-icon"><i class="fa fa-thumbs-up"></i></div>
                                <h4>{{restau.nom}}</h4>
                                <div class="atr-content">{{restau.tags}}</div>       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<app-alert-modal></app-alert-modal>