<div id="menu-page" class="page-hero-section division">
    <div class="container">	
        <div class="row">	
            <div class="col-lg-10 offset-lg-1">
                <div class="hero-txt text-center white-color">

                    <!-- Title -->
                    <section id="section-drinks" aria-label="section" class="jarallax" style="background-size: cover; z-index: 0;" data-jarallax-original-styles="background-size: cover;">
                    <div class="de-title" style="background-size: cover;">
                        <div class="spacer-single" style="background-size: cover;"></div>
                        <h5 class="s1 wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><span class="id-color-2">Favorite</span></h5>
                        <h2 _ngcontent-dym-c62="" data-wow-delay=".75s" class="wow fadeInUp animated" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">Restaurant</h2>
                    </div>
                </section>

                </div>
            </div>	
        </div>	  <!-- End row -->
    </div>	   <!-- End container --> 
</div>	<!-- END PAGE HERO -->	


<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <!-- Carousel wrapper -->
    <!-- Carousel wrapper -->
    <section id="section-menu" aria-label="section">
            <div class="container">
                <div class="row g-4 masonry">   
                    <div *ngFor="let restau of listRestau" class="col-lg-3 col-md-4 item">
                        <div class="de-card-2 text-center" (click)="chooseRestau(restau)">
                            <img src="02_images-restaurant/menu/png/1.png" alt="">
                            <div class="div-content">
                                <div class="atr-icon"><i class="fa fa-thumbs-up"></i></div>
                                <h4>{{restau.nom}}</h4>
                                <div class="atr-content">{{restau.tags}}</div>       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</div>