


<!-- HEADER-3
============================================= -->
<header class="transparent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="de-flex sm-pt10">
                    <div class="de-flex-col">
                        <div class="de-flex-col">
                            <!-- logo begin -->
                            <div id="logo">
                                <a href="index.html">
                                    <img alt="" src="02_images-restaurant/logo.png" />
                                </a>
                            </div>
                            <!-- logo close -->
                        </div>
                        <div class="de-flex-col">
                        </div>
                    </div>
                    <div class="de-flex-col header-col-mid">
                        <!-- mainmenu -->
                        <div class="de-flex-col header-col-mid">
                            <!-- mainmenu -->
                            <ul *ngIf="isRole('ADMIN')" id="mainmenu">
                                <li><a routerLink="/restaurant/admin" >Restaurant</a></li>
                                <li><a routerLink="/commande/admin">Commande</a></li>
                                <li><a routerLink="/commande/livreur" >Livraison</a></li>
                                <li><a routerLink="/statistique" >Statistique</a></li>
                            </ul>
                            <ul *ngIf="isRole('RESTAURANT')" id="mainmenu">
                                <li><a routerLink="/plat/admin" >Plat</a></li>
                                <li><a routerLink="/commande/admin" >Commande</a></li>
                                <li><a routerLink="/statistique" >Statistique</a></li>
                            </ul>  
                            <ul *ngIf="isRole('CLIENT')" id="mainmenu"> 
                                <li><a routerLink="/restaurants">Restaurants</a></li>
                            </ul>
                            <ul *ngIf="isRole('LIVREUR')" id="mainmenu"> 
                                <li><a routerLink="/commande/livreur">Commande</a></li>
                            </ul>
                            <!-- mainmenu -->
                        </div>
                        
                        
                        <!-- mainmenu -->
                    </div>
                    <div class="de-flex-col">
                        <div class="menu_side_area">
                            <div *ngIf="isRole('CLIENT')" class="de-flex-col">
                                <li class="basket-ico ico-30">
                                    <a routerLink="/panier" >
                                        <span class="ico-holder"><span class="flaticon-shopping-bag"></span> <em class="roundpoint">2</em></span>
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>