.fa-fw {
    font-size: 150%;
    color: white;
}

.deconnecter{
    cursor: pointer;
}

// header .logo, header .logo-2 {
//     font-family: var(--body-font);
//     color: #fff;
//     font-size: 40px;
//     font-weight: 300%;
// }

h4{
    color:white;
    // font-weight: 900;
}