.buttonInscription{
    cursor: pointer;
}

.greenButton{
    background-color: green;
}

// .marge{
//     margin-top: 5%;
// }

.selectRestau{
    border: 2px solid black;
    line-height: 2;
}

// .marge{
//     margin-left: 100px;;
// }
#content {
    background-image: url(../../../assets/testo/files/images/slider/slide-12.jpg);
    position: initial;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
    clip-path: polygon(0px 0px, 100% 0ùpx, 100% 100%, 0px 100%);
    text-align: left;
}
.img{
    // position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
}


.erreur{
    color:red;
}

.insc{
    color: white;
}


