
<form [formGroup]="inscriptionForm" name="bookinkform" class="row booking-form">
    <!-- Form Input -->
    <div class="col-lg-12 erreur">
        {{resultMessage}}
    </div>
    <div class="col-lg-12 align-items-center">
        <div class="erreur" *ngIf="verifyForm('nom')"> 
            Un nom est requis
        </div> 
    </div>
    <div class="col-lg-12 align-items-center">
      <div class="row align-items-center">
          <div class="col-lg-4">
              <span>Nom :</span>
          </div>
          <div class="col-lg-8">
              <input type="text" name="nom" formControlName="nom" class="form-control name"  required > 
          </div>
      </div>
    </div>
    <div class="col-lg-12 align-items-center">
        <div class="erreur" *ngIf="verifyForm('prenom')"> 
            Un prenom est requis
        </div> 
    </div>
    <div class="col-lg-12 align-items-center">
      <div class="row align-items-center">
          <div class="col-lg-4">
              <span>Prenom :</span>
          </div>
          <div class="col-lg-8">
              <input type="text" name="prenom" formControlName="prenom" class="form-control name" placeholder=" " required> 
          </div>
      </div>
  </div>
  <div class="col-lg-12 align-items-center">
    <div class="erreur" *ngIf="verifyForm('mdp')"> 
        Un mot de passe est requis
    </div> 
</div>
    <div *ngIf="action=='CLIENT'" class="col-lg-12">
      <div class="row align-items-center">
          <div class="col-lg-4">
              <span>Mdp :</span>
          </div>
          <div class="col-lg-8">
              <input type="text" name="mdp" formControlName="mdp" class="form-control name"  required> 
          </div>
      </div> 
  </div>
  <div class="col-lg-12 align-items-center">
    <div class="erreur" *ngIf="verifyForm('adresse')"> 
        Une adresse est requise
    </div> 
</div>
    <div class="col-lg-12 align-items-center">
      <div class="row align-items-center">
          <div class="col-lg-4">
              <span>Adresse :</span>
          </div>
          <div class="col-lg-8">
              <input type="text" name="adresse" formControlName="adresse" class="form-control name"  required> 
          </div>
          
      </div>
  </div>
  <div class="col-lg-12 align-items-center">
    <div class="erreur" *ngIf="verifyForm('numero')"> 
        Un numero est requis
    </div> 
</div>
  <div class="col-lg-12 align-items-center">
      <div class="row align-items-center">
          <div class="col-lg-4">
              <span>Numero :</span>
          </div>
          <div class="col-lg-8">
              <input type="text" name="numero" formControlName="numero" class="form-control name"  required>  
          </div>
      </div>
  </div>

  <div class="col-lg-12 align-items-center">
    <div class="erreur" *ngIf="verifyForm('email')"> 
        Un email est requis
    </div> 
</div>
  <div class="col-lg-12 align-items-center">
      <div class="row align-items-center">
          <div class="col-lg-4">
              <span>Email :</span>
          </div>
          <div class="col-lg-8">
              <input type="email" name="email" formControlName="email" class="form-control name"  required> 
          </div>
      </div>
  </div>
  <div class="col-lg-12 align-items-center">
    <div class="erreur" *ngIf="verifyForm('restaurant')"> 
        Un restaurant est requis
    </div> 
</div>   
  <div class="col-lg-12" *ngIf="action==='RESTAURANT'">
      <div class="row align-items-center">
          <div class="col-lg-4">
              <span>Restaurant:</span>
          </div>
          <div class="col-lg-8">
              <select class="selectRestau"   formControlName="restaurant" >
                  <option [ngValue]="null" disabled hidden></option>
                  <option class="form-control" *ngFor="let restau of listRestau" [ngValue]="restau" >{{restau.nom}}</option>
              </select>
          </div>
      </div>
  </div> 
  <div class="col-lg-12">
    <div class="row align-items-center">
        <div class="col-lg-4">
            <div class="erreur" *ngIf="verifyForm('restaurant')"> 
                Un restaurant est requis
            </div> 
        </div>            
        <!-- Form Button -->
        <div class="col-lg-8 mt-10 marge">  
            <p *ngIf="actionButton==='INSCRIPTION'" class="btn-main buttonInscription "  (click)="inscription()">Valider</p>
            <p *ngIf="actionButton==='MODIFICATION'" class="btn-main buttonInscription "  (click)="update()">Modifier</p>
        </div>     
    </div>
  </div>                                 
</form>	<!-- End Form -->	