<!-- BOOKING-2
============================================= -->
<div id="booking-2" class="booking-section division">
    <div class="container">
        <div class="row">
            <!-- BOOKING FORM -->
            <div class="col-lg-12 col-xl-12 offset-lg-1 offset-xl-2">
                <div class="form-holder">

                    <!-- Form -->
                    <form name="bookinkform" class="row booking-form">
                        <!-- Form Input -->
                        <div class="col-lg-6">
                            <input type="text" name="name" class="form-control name" placeholder="Nom * " required> 
                        </div>
                                                    
                        <!-- Form Button -->
                        <div class="col-md-12 mt-10">  
                            <button type="submit" class="btn btn-md btn-red tra-red-hover submit">Valider</button> 
                        </div>
                                                                                
                    </form>	<!-- End Form -->	

                </div>	
            </div>	<!-- END BOOKING FORM -->	

        </div>	<!-- End row -->
    </div>	   <!-- End container -->	
</div>	<!-- END BOOKING-2 -->
