<div *ngIf="load==true" id="preloader">
    <div class="preloader1"></div>
</div>
<div id="cart-page" class="page-hero-section division">
    <div class="container">	
        <div class="row">	
            <div class="col-lg-10 offset-lg-1">
                <div class="hero-txt text-center white-color">

                    <!-- Title -->
                    <h2 class="h2-xl">Commande</h2>

                </div>
            </div>	
        </div>	  <!-- End row -->
    </div>	   <!-- End container --> 
</div>	
<section id="cart-1" class="wide-100 cart-page division">
    <div class="container">
            <!-- CART CHECKOUT -->		
            <div class="row margeStatus">
                <!-- DISCOUNT COUPON -->
                <div class="col-lg-8">
                    <div class="discount-coupon row pt-15">
                        <!-- Form -->
                        <div class="col-md-2 col-lg-2 btnAction">		
                            <h5>STATUS :</h5>		
                        </div>
                        <div class="col-md-3 col-lg-3 btnAction">	
                            <select  class="form-control" [(ngModel)]="filtre.status">
                                <option value="" >Tous</option>
                                <option value="COMMANDE" >commandé</option>
                                <option value="EN COURS" >En cours</option>
                                <option value="TERMINE" >Terminé</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-lg-2 btnAction">	
                            <a  class="btn btn-md btn-red" (click)="filtrer()">Valider</a>
                        </div>
                        <div class="col-md-5 col-lg-5 btnAction"></div>
    
    
                        <!-- Button -->
                        <!-- <div class="col-md-4 col-lg-5 text-right">
                            <a onClick="window.location.reload()" class="btn btn-md btn-salmon tra-salmon-hover">Update Cart</a>
                        </div> -->
    
                    </div>
                </div>
    
    
            </div>	  <!-- END CART CHECKOUT -->
    
    

        <!-- CART TABLE -->	
        <div class="row">
            <div class="col-md-12">
                <div class="cart-table mb-70">
                    <table id="myTable">
                        <thead>
                            <tr> 
                                  <th scope="col">Status</th>
                                  <th scope="col">Restaurant</th>
                                  <th scope="col">Plat</th>
                                  <th scope="col">Prix</th>
                                  <th scope="col">Quantité</th>
                                  <th scope="col">Montant</th>
                                  <th scope="col">Client</th>
                                  <th scope="col">Adresse</th>
                                  <th scope="col">Frais de Livraison</th>
                                  <th scope="col">Livreur</th>
                            </tr>
                         </thead>

                         <tbody *ngFor="let commande of listCommande" >

                            <!-- CART ITEM #1 -->
                                <tr *ngFor="let detail of commande.plats" >
                                    <td data-label="Price" class="product-price">{{commande.status}}</td>
                                    <td data-label="Price" class="product-price">{{commande.restaurant.nom}}</td> 
                                    <td data-label="Price" class="product-price">{{detail.plat.nom}}</td> 
                                    <td data-label="Price" class="product-price">{{detail.prix}}</td>
                                    <td data-label="Price" class="product-price">{{detail.quantite}}</td>
                                    <td data-label="Price" class="product-price">{{detail.montant}}</td>
                                    <td data-label="Product" class="product-name">
                                      <div class="cart-product-desc">
                                        <b>{{commande.client.nom}}</b>
                                            <p class="p-sm">{{commande.client.email}}</p>
                                        </div>
                                    </td>
                                    <td data-label="Price" class="product-price">{{commande.adresse}}</td>
                                    <td data-label="Price" class="product-price">{{commande.fraisLivraison}}</td>
                                    <td *ngIf="verifyLivreur(commande); else noLivreur" data-label="Product" class="product-name">
                                        <div class="cart-product-desc">
                                          <b>{{commande.livreur.nom}}</b>
                                              <p class="p-sm">{{commande.livreur.email}}</p>
                                          </div>
                                      </td>
                                      <ng-template #noLivreur >
                                        <td  data-label="Product" class="product-name">
                                            Pas de livreur
                                           </td>
                                      </ng-template>
                                </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>	<!-- END CART TABLE -->


    
    </div>	   <!-- End container --> 
</section>	<!-- END CART PAGE -->	



<app-alert-modal></app-alert-modal>